$font-primary: 'TT Norms Std Trial', sans-serif;
$font-normal: 'TT Norms Std Trial Normal', sans-serif;
$font-regular: 'TT Norms Std Trial Regular', sans-serif;
$font-bold: 'TT Norms Std Trial Bold', sans-serif;